//Universal button for project

button {
  border: none;
  display: block;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: $normal;
  }
}

.button {
  background-color: $bright_red;
  color: $white;
  display: block;
  padding: 16px 0 16px 0;
  max-width: 138px;
  text-align: center;
  border-radius: 25px;
  font-size: 13px;
}
.header__button,
.action__welcome-text-button,
.quotes__button {
  box-shadow: 0 10px 18px -6px $bright_red;
}
//Header

.header__button {
  padding: 16px 31px;
  max-width: 138px;
  flex: 1 1 138px;
}
//Action text

//Slider button ---- Testimonial/Quotes
.quotes__button {
  margin: 0 auto;
}

//Footer

.footer__top-button {
  background-color: $white;
  color: $bright_red;
  font-weight: 700;
  display: block;
  font-weight: 700;
  max-width: 136px;
  flex: 1 1 136px;
}

.footer__bottom-post-transmission-button {
  max-width: 64px !important;
  flex: 1 1 64px;
}
