

//Universal logo
.logo {
  max-width: 144px;
  &:hover {
    opacity: 0.6;
    transition: $normal;
    cursor: pointer;
  }
}
//Universal link

a {
  color: $dark_blue;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    transition: $normal;
  }
}
span {
  display: block;
}

//Wrappers
.wrap,
.wrap--secondary,
.wrap--tertiary {
  margin: 0 auto;
  padding: 0 20px;
}
.wrap {
  max-width: 1150px;
}
.wrap--secondary {
  max-width: 1178px;
}
.wrap--tertiary {
  max-width: 1506px;
}




@media screen and (max-width: 767px) {
  .wrap {
    padding: 0 16px;
  }
}
