/*COLORS*/

//Primary colors
$bright_red: hsl(12, 88%, 59%);
$dark_blue: hsl(228, 39%, 23%);
$white: hsl(0, 0%, 100%);
$black: hsl(359, 100%, 0%);
$red: hsl(0, 100%, 50%);
//Neutral colors
$grayish_blue: hsl(227, 12%, 61%);
$deep_blue: hsl(233, 12%, 13%);
$light_gray: hsl(0, 0%, 98%);



/*TRANSITIONS*/
$slow: 0.7s ease-in-out;
$normal: 0.5s ease-in-out;
$fast: 0.3s ease-in-out;