/*ABOUT PROPS*/
.about {
  margin-bottom: 113px;
}
.about__line {
  display: flex;
}
.about__join-text,
.about__text {
  max-width: 50%;
  flex: 1 1 50%;
}

.about__join-text {
  padding-top: 107px;
}
.about__join-text--inner {
  max-width: 420px;
}

//Text
.about__join-header {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 43px;
  margin-bottom: 29px;
  max-width: 420px;
}
.about__join-lines {
  max-width: 333px;
  line-height: 26px;
  letter-spacing: -0.1px;
}
.about__text--inner {
  padding: 101px 0 0 15px;
}

//About list propes ----------------- Vision
.about__text-list {
  padding-right: 4px;
}
.about__text-list-item {
  margin-bottom: 39px;
}
//List header line---Number and header!
.about__text-list-title {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.about__text-list-number {
  background-color: $bright_red;
  color: $white;
  font-size: 16px;
  border-radius: 20px;
  max-width: 66px;
  flex: 1 1 66px;
  padding: 12px 0;
  margin-right: 29px;
  text-align: center;
}
.about__text-list-header {
  letter-spacing: -0.7px;
  font-weight: 700;
  max-width: 242px;
  flex: 1 1 242px;
}

//List paragraph --------- Side to side
.about__text-list-lines {
  max-width: 441px;
  margin-left: auto;
  font-size: 16px;
  letter-spacing: -0.1px;
  padding-left: 0px;
  line-height: 26px;
}
//Media Query for tablet
@media screen and (max-width: 991px) {
 .about {
  margin-bottom: 26px;
 }

  .about__line {
    flex-direction: column;
    align-items: center;
  }
  .about__join-text,
  .about__text {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .about__join-text {
    padding-top: 97px;
  }
  .about__join-text--inner {
    max-width: 420px;
    text-align: center;
  }

  .about__join-header {
    font-size: 30px;
    letter-spacing: -1.1px;
    max-width: 227px;
    margin: 0px auto 14px auto;
  }
  .about__join-lines {
    max-width: 392px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-size: 14px;
    margin: 0 auto;
  }
  //About list for phone

  .about__text--inner {
    padding: 51px 0 0 0;
  }
  .about__text-list-lines {
    margin-left: 0;
    letter-spacing: -0.6px;
    font-size: 15px;
    line-height: 28px;
  }
  .about__text-list-item {
    margin-bottom: 45px;
  }
  .about__text-list-number {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .about__join-lines {
    max-width: 319px;
  }
}
