//Action text

.action__text {
  max-width: 545px;
}

//Action inner

.action__inner-line {
  display: flex;
}
.action__welcome--inner {
  max-width: 50%;
  flex: 1 1 50%;
  padding: 65px 0 0px 13px;
}
.action__image {
  max-width: 50%;
  flex: 1 1 50%;
}
//Header
.action__welcome-text-header {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -1.6px;
  line-height: 63px;
  margin-bottom: 31px;
}

//Action paragraph
.action__welcome-text-lines {
  max-width: 347px;
  line-height: 26px;
  letter-spacing: -0.1px;
  margin-bottom: 38px;
}

//Action img

.action__image-ilustration {
  max-width: 100%;
  height: 523px;
}
//Tablet media query
@media screen and (max-width: 991px) {
  .action__inner-line {
    flex-direction: column-reverse;
  }
  .action__welcome-text,
  .action__image {
    max-width: 100%;
    flex: 1 1 100%;
    text-align: center;
  }
  .action__welcome-text {
    padding: 1px 0 0 0;
  }
  .action__image-ilustration {
    max-width: 100%;
    height: 310px;
  }
  //Action text
  .action__text {
    margin: 0 auto;
  }

  .action__text-header {
    font-size: 48px;
    letter-spacing: -2.4px;
    line-height: 52px;
    margin-bottom: 3px;
  }
  .action__text-lines {
    max-width: 412px;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin: 0 auto 27px auto;
  }
  .action__text-button {
    margin: 0 auto;
  }
}

//Phone media query
@media screen and (max-width: 767px) {
  .action__text-header {
    font-size: 41px;
  }
  .action__text-lines {
    max-width: 334px;
  }
}
