/*FOOTER PROPS*/

//Footer top property
.footer__top {
  background-color: $bright_red;
}
.footer__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 66px 10px 66px 14px;
}

.footer__top-header {
  color: $white;
  font-size: 38px;
  font-weight: 700;
  max-width: 541px;
  flex: 1 1 541px;
  letter-spacing: -0.4px;
  line-height: 44px;
}

//Footer bottom

.footer__bottom {
  background-color: $deep_blue;
  color: $white;
  padding: 62px 0 45px 0;
}

.footer__bottom-line {
  display: flex;
}
//First container ------- Social

.footer__bottom-social {
  max-width: 26%;
  flex: 1 1 26%;
  padding-left: 21px;
}
.footer__bottom-logo {
  max-width: 146px;
  max-height: 24px;
  margin-bottom: 79px;
}
.footer__bottom-logo--responsive {
  display: none;
}
.footer__bottom-social-list {
  display: flex;
  flex-wrap: wrap;
}
//Social icons----

.footer__bottom-social-icon {
  color: $white;
  font-size: 20px;
  margin-right: 13px;
  &:hover {
    color: $bright_red;
    transition: $normal;
  }
}

//Second and third container ------- Navigation and Form

.footer__bottom-navigation,
.footer__bottom-post {
  max-width: 37%;
  flex: 1 1 37%;
}
.footer__bottom-navigation {
  padding: 4px 37px 0 3px;
  .footer__bottom-navigation-link {
    color: $white;
    font-size: 14px;
  }
}
.footer__bottom-navigation-inner {
  display: flex;
  justify-content: space-between;
}
.footer__bottom-navigation-item {
  margin-bottom: 19px;
  .footer__bottom-navigation-link {
    &:hover {
      color: $bright_red;
      transition: $normal;
    }
  }
}

//Form
.footer__bottom-post {
  padding: 4px 14px 0 0;
}
.footer__bottom-transmission {
  margin-left: auto;
  max-width: 271px;
  margin-bottom: 63px;
  height: 46px;
}
.footer__transmission-line {
  display: flex;
  justify-content: space-between;
}
.footer__transmission-input {
  border-radius: 20px;
  border: none;
  max-width: 199px;
  flex: 1 1 199px;
  max-height: 43px;
  padding-left: 16px;
}
.footer__bottom-copyright,
.footer__bottom-copyright-responsive {
  font-size: 12px;
  max-width: 212px;
  margin-left: auto;
}
.footer__bottom-copyright-responsive,
.footer__bottom-logo-responsive {
  display: none;
}

//Invalid email

.invalid {
  border: $red solid 2px;
}
.footer__bottom-post-problem {
  font-size: 10px;
  color: $red;
  padding: 4px 0 0 16px;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 991px) {
  //Footer top props
  .footer__top-line {
    display: block;
    text-align: center;
    padding: 96px 0 88px 0;
  }
  .footer__top-header {
    max-width: 327px;
    line-height: 49px;
    margin: 0 auto 27px auto;
  }
  .footer__top-button {
    margin: 0 auto;
  }
  //Footer bottom props

  .footer__bottom {
    padding: 48px 0 20px 0;
  }

  .footer__bottom-line {
    flex-direction: column-reverse;
    .footer__bottom-social,
    .footer__bottom-navigation,
    .footer__bottom-post {
      max-width: 100%;
      flex: 1 1 100%;
    }
  }

  //Footer bottom DISABLED elements --- Enabled elements
  .footer__bottom-logo {
    display: none;
  }
  .footer__bottom-copyright {
    display: none;
  }
  .footer__bottom-logo-responsive,
  .footer__bottom-copyright-responsive {
    display: block;
    margin: 0 auto;
  }
  .footer__bottom-logo-responsive {
    max-width: 157px;
    max-height:26px;
    margin-bottom: 57px;
  }
  //First container ---- footer social container

  .footer__bottom-social {
    padding-left: 0;
  }
  .footer__bottom-social-list {
    justify-content: center;
    padding-left: 12px;
    margin-bottom: 44px;
  }

  .footer__bottom-social-item {
    margin: 0 21px 10px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  .footer__bottom-social-icon {
    font-size: 31px;
  }
  //Second container ---- footer navigation container
  .footer__bottom-navigation {
    padding: 5px 28px 0 46px;
    margin-bottom: 30px;
  }
  .footer__bottom-navigation-inner {
    max-width: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }
  //Third container ---- form container
  .footer__bottom-post {
    padding-right: 0;
  }

  .footer__bottom-transmission {
    margin: 0 0 52px 0;
    max-width: 100%;
    flex: 1 1 100%;
    padding: 0 4px 0 5px;
    max-height: 50px;
  }
  .footer__transmission-line {
    justify-content: center;
  }
  .footer__transmission-input {
    max-width: 237px;
    flex: 1 1 237px;
    padding-left: 22px;
    letter-spacing: 0.1px;
    margin-right: 9px;
  }
  .footer__transmission-button {
    text-transform: uppercase;
    padding: 15px 30px;
  }
}
