//Quotes property
.quotes {
  margin-bottom: 180px;
}
.quotes__join-text {
  text-align: center;
}
//Quotes started
.quotes__started {
  text-align: center;
}
//Join props --- imagine text and header

.quotes__join-header {
  font-size: 38px;
  font-weight: 700;
}

//Quotes styles
.quotes__box {
  display: flex;
  width: 100%;
  overflow-x: auto;
  cursor: grab;
  scroll-behavior: smooth;
  margin-bottom: 86px;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

//Quotes card ----- ALL SETTINGS
.quotes__box-developer {
  min-width: 33.33%;
  flex: 1 1 33.33%;
  text-align: center;
  padding-top: 78px;
  margin-right: 81px;
  &:last-child {
    margin-right: 0;
  }
}
.quotes__box-developer-inner {
  margin: 0 auto;
  max-width: 457px;
}

.quotes__box-developer-image {
  max-width: 70px;
  margin-bottom: 28px;
}
.quotes__box-developer-name {
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-bottom: 22px;
}
.quotes__box-developer-text {
  line-height: 26px;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 991px) {
  .quotes {
    margin-bottom: 41px;
  }
  //Inner join text
  .quotes__join-header {
    font-size: 30px;
  }
  .quotes__box {
    margin-bottom: 120px;
  }
  //Slider cards props
  .quotes__box-developer {
    min-width: 100%;
    flex: 1 1 100%;
    padding-top: 68px;
  }
  .quotes__box-developer-inner {
    max-width: 295px;
  }
  .quotes__box-developer-text {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
  }
 
  
}
